/* Navigation menu */
.container{
    margin-bottom: 40px;
}
.nav-link{
    font-weight: 600;
    font-size: 18px;
}
.slider h1{
    color: #121212;
    margin-bottom: 30px;
}
.slider p{
    color: grey;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    margin-bottom: 30px;
}
.btn-buy{
    background-color: #121212;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 25px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e7e7e7' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e7e7e7' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
